/* =========================
    GENERAL START
===========================*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.intro {
    background: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin: auto;
    top: 0;
    display: table;
}
.intro .inner {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.card {
    border-radius: 40px;
}
.card .card-content {
    padding: 10px;
}
.timeContent, .breakContent, .start {
    text-align: center;
}
#timer, #breakTimer {
    font-size: 50px;
    padding-left: 50px;
    padding-right: 50px;
    vertical-align: -webkit-baseline-middle;
}
.circle {
    background-color: #f44336;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
#reset, #start {
    margin-top: 5px;
}
@media (max-width: 600px) {
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.9rem;
    }
    #timer, #breakTimer {
        font-size: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .circle {
        width: 150px;
        height: 150px;
        border-radius: 75px;
    }
}




/* =========================
    GENERAL END
===========================*/